@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>邀请函</title>
    <meta charset="UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta content="telephone=no" name="format-detection">
    <meta name="msapplication-tap-highlight" content="no" />
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">

    <link href="@Url.Content("~/styles/huaping.css")" rel="stylesheet" />

</head>
<body>

    <div class="content">

        <div class="page page_1">
            <h2>江苏省“教海探航”征文竞赛颁奖活动</h2>
        </div>

        <div class="page page_2">
            <div class="title">
                <h2><span>会议简介</span></h2>
            </div>
            <div class="txt">
                <p>
                    &nbsp;&nbsp;&nbsp;&nbsp;自1989年开始，江苏省“教海探航”征文竞赛已经成功举办了26届，在广大中小学青年教师及教育管理工作者中产生了积极而广泛的影响，已经成为公认的促进我省基础教育师资队伍建设的大型品牌公益活动。26年来，“教海探航”征文竞赛有效地激发了青年教师及教育管理工作者学习教育科学理论、开展教育科学研究、投身教学改革的热情，为切实推进素质教育、不断深化课程改革以及加强中小学教师队伍建设发挥了积极的作用。经研究，2015年将举办第27届江苏省“教海探航”征文竞赛。
                </p>
            </div>
        </div>

        <div class="page page_3">
            <div class="top">
                <h2>会议行程</h2>
                <p class="mtime">会议时间<br /> 2015年11月7日~2015年11月9日</p>
                <p class="maddress">会议地点<br /> 江苏张家港国际会议中心</p>
            </div>
            <div class="bottom">
                <div class="mbtn"><span>立即报名</span></div>
            </div>
        </div>
        <div class="jian"></div>
    </div>
    <script src="@Url.Content("~/Scripts/huaping.js")"></script>
</body>
</html>

