@{
    ViewBag.Title = "学生信息绑定";
}

<div class="page">
    <ul>
        <li>
            <h2>本微信绑定学生信息</h2>
        </li>
            <li>
                <div class="td_1">姓　名</div>
                <div class="td_2">
                    <input class="red input_verify" value="请输入学生姓名" tip="请输入学生姓名" maxlength="30" id="name" />
                </div>
            </li>
            @*<li>
                <div class="td_1">招聘类型</div>
                <div class="td_2">
                    <span class="select_txt red">请选择招聘类型</span>
                    <select class="select_year select_opacity" id="ETypeId">
                        <option value="0">请选择</option>
                        <option value="10">直招</option>
                        <option value="20">服务外包</option>
                    </select>
                    <em class="jain"></em>
                </div>
            </li>
            <li>
                <div class="td_1">学　号</div>
                <div class="td_2">
                    <input class="red input_verify" value="请输入学生学号" tip="请输入学生学号" maxlength="30" id="" />
                </div>
            </li>*@
            <li>
                <div class="td_1">身份证</div>
                <div class="td_2">
                    <input class="red input_verify" value="请输入学生身份证" tip="请输入学生身份证" maxlength="18" id="idCard" />
                </div>
            </li>
            <li>
                <div class="td_1">家长手机号</div>
                <div class="td_2">
                    <input class="red input_verify" value="请输入家长手机号" tip="请输入家长手机号" type="tel" maxlength="11" id="mobile" />
                </div>
            </li>
        
    </ul>
    <div class="btn_submit">提　交</div>
</div>

@section scripts
{
    <script>
        var doSubmit = function () {
            var name = $("#name").val();
            var idCard = $("#idCard").val();
            var mobile = $("#mobile").val();

            $.ajax({
                url: '@Url.Action("Bind")',
                type: 'post',
                data: { name: name, idCard: idCard, mobile: mobile },
                success: function (data) {
                    if (data.State == 200) {
                        dialog.alert("提交成功", data.Message, "知道了");
                    } else {
                        dialog.alert("提交失败", data.Message, "知道了");
                    }
                }
            });
        }
    </script>
}
