<!-- Modal -->
<div class="modal fade" id="cpModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">修改密码</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <label class="control-label">原密码：</label>
                    <input type="password" id="txtOldPwd" class="form-control"/>
                </div>
                <div class="row">
                    <label class="control-label">新密码：</label>
                    <input type="password" id="txtNewPwd" class="form-control" />
                </div>
                <div class="row">
                    <label class="control-label">确认密码：</label>
                    <input type="password" id="txtCompPwd" class="form-control" />
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" id="btnChangePwd" class="btn btn-primary">修　改</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">关　闭</button>
            </div>
        </div><!-- modal-content -->
    </div><!-- modal-dialog -->
</div><!-- modal -->