<div class="panel-footer">
    <div class="dataTables_info" id="table2_info">共 57 条，显示：1到10</div>
    <div class="dataTables_paginate paging_full_numbers" id="table2_paginate">
        <a tabindex="0" class="first paginate_button paginate_button_disabled" id="table2_first"><<</a>
        <a tabindex="0" class="previous paginate_button paginate_button_disabled" id="table2_previous"><</a>
        <span>
            <a tabindex="0" class="paginate_active">1</a>
            <a tabindex="0" class="paginate_button">2</a>
            <a tabindex="0" class="paginate_button">3</a>
            <a tabindex="0" class="paginate_button">4</a>
            <a tabindex="0" class="paginate_button">5</a>
        </span>
        <a tabindex="0" class="next paginate_button" id="table2_next">></a>
        <a tabindex="0" class="last paginate_button" id="table2_last">>></a>
    </div>
</div>