@{
    ViewBag.Title = "支付信息";
}

@section styles{
    <link href="@Url.Content("~/Styles/registrate_preview.css?v=3")" rel="stylesheet" />
}

<div class="block">
    <h2><span>支付信息</span></h2>
</div>
<div class="block">
    <p>手机上信息填报完成后，请至银行或网上银行将会务费汇至指定账户完成报名，并保留汇款凭证（凭凭证签到并领取发票和材料）。同一单位请务必集中汇款。汇款时请注明学校名称、用途。（格式：****单位教海探航会务费）</p>
    <p><span class="td_1">户名：</span><span class="td_2">张家港市财政局非税收入专户</span></p>
    <p><span class="td_1">开户行：</span><span class="td_2">农行财税分理处</span></p>
    <p><span class="td_1">账号：</span><span class="td_2">525801040007186</span></p>
</div>